<div class="inputs">
  <%= f.input :email, :required => true, :autofocus => true %>
  <%= f.input :username, label: (t "users.sign_up.username"), :required => true, :autofocus => true %>
  <%= f.input :password, label: (t "users.sign_up.password"), :required => true %>
  <%= f.input :password_confirmation, label: (t "users.sign_up.password_confirmation"), :required => true %>
</div>
